@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {
  padding: 0;
  margin: 0 auto;

  background: #fcfffc; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fcfffc 0%, #c9c5cb 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #fcfffc 0%,#c9c5cb 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #fcfffc 0%,#c9c5cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h1, h2, p, a {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

a {
  margin: 0 auto;
  display: block;
}

.divider {
  background: -webkit-radial-gradient(50% 0,rgba(74,74,74,.15),transparent 40%);
  background: -moz-radial-gradient(50% 0,rgba(74,74,74,.15),transparent 40%);
  background: -ms-radial-gradient(50% 0,rgba(74,74,74,.15),transparent 40%);
  background: -o-radial-gradient(50% 0,rgba(74,74,74,.15),transparent 40%);
  background: radial-gradient(at 50% 0,rgba(74,74,74,.15),transparent 40%);
  height: 10px;
}

.c-dashboard {
  overflow: hidden;

  h1 {
    margin: 8px;
    font-size: 6vh;
  }

  .time-frames {
    text-align: center;
    padding: 0;
    margin-bottom: 0;

    a {
      color: black;
      text-decoration: inherit;
    }

    a:hover {
      text-decoration: underline;
    }

    li {
      display: inline-block;
      padding: 8px;
    }
  }

  .c-top {
    width: 31vw;
    height: 79vh;
    margin: 1vh;
    float: left;

    .c-top__content {
      max-height: 100%;
      overflow-y: auto;

      .top-item__media:hover {
        transform: scale(1.05);
        -webkit-transition: transform 1s;
        transition: transform 0.5s;
      }

      .top-item {
        width: 50%;
        margin: 5% auto;
        display: block;
        padding: 2.5%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        text-align: center;
        background-color: white;

        .top-item__media {
          width: 95%;
        }
  
        .top-item__text {
          font-size: 1.25em;
        }

        .top-item__sub-text {
          font-size: 0.75em;
        }

        .c-top-box__top, .c-top-box__bottom {
          width: 100%;
          float: left;
        }
      }
    }

    .c-profile {
      display: block;
      margin: 0 auto;
      width: 50%;
      text-align: center;

      .c-profile__image {
        border-radius: 200px;
        max-width: 100%;
      }

      .c-profile__name {
        font-weight: bold;
      }
    }

    .c-features {
      .c-features__feature {
        width: 50%;
        float: left;

        .c-features__feature-title {
          font-size: 1.3em;
          font-weight: bold;
        }

        .c-features__feature-value {
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
  }

  .c-cookie-banner {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #2B3249;

    .c-cookie-banner__contents {
      color: white;
      p {
        margin: 0;
        float: left;
        padding: 12px;
      }
      
      a {
        display: inline-block;
        color: rgba(255, 255, 255, 0.74);
      }

      .c-cookie-banner__button {
        display: flex;
        align-items: center;
        align-content: space-between;
        max-width: 148px;
        padding: 4px;
        float: right;
        margin-right: 32px;

        a {
          color: rgb(255, 255, 255);
          background-color: transparent;
          border-color: rgb(255, 255, 255);
          padding: .4em .8em;
          min-width: 140px;
          font-size: .9em;
          font-weight: 700;
          border-width: 2px;
          border-style: solid;
          text-align: center;
          white-space: nowrap;
          flex: 1;
          cursor: pointer;
        }
      }
    }
  }
}